Flask==2.2.5
Werkzeug==2.2.3
flask-mongoengine==1.0.0
flask-login==0.6.3
flask-session==0.5.0
dnspython==2.4.2
Pillow==10.0.0
gunicorn==21.2.0
mongoengine==0.27.0
email-validator==2.1.0.post1
blinker==1.6.2
