Flask>=3.0.0
flask-mongoengine>=1.0.0
flask-login>=0.6.3
flask-session>=0.8.0
dnspython>=2.6.0
Pillow>=10.3.0
gunicorn>=22.0.0
werkzeug>=3.0.0
mongoengine>=0.28.0
email_validator>=2.1.0
blinker>=1.8.0
