Flask==3.0.3
flask-mongoengine==1.0.0
flask-login==0.6.3
flask-session==0.8.0
dnspython==2.6.1
Pillow==10.3.0
gunicorn==22.0.0
werkzeug==3.0.3
mongoengine==0.28.2
email_validator==2.1.1
blinker==1.8.2
